body{
    background-color: azure;
}

.myheader{
    text-align: center;
}

.dummytext{
    margin: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.content {
    flow-into: yourcontent;
    -webkit-flow-into: yourcontent;
}
  
.myregion {
    flow-from: yourcontent;
    -webkit-flow-from: yourcontent;
  
    float: left;
    width: 100px;
}